/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.links,
.links:link,
.links:hover,
.links:active {
  color: black;
}

.headerLogo {
  width: 32px;
}

/* MAIN */
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
